
BorderPane {
    -fx-background-color: black;
    /*-fx-background-image: url('573012.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 1400 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

HBox {
    -fx-background-color: #80ced6;
}

Button {
    -fx-background-color: #80ced6;
}

Button:hover {
    -fx-background-color: #000777;
}

#playButton {
    -fx-background-image: url('playbutton.png');
}

#startButton {
    -fx-background-image: url('replaybutton.png');
}

#backButton {
    -fx-background-image: url('rewindbutton.png');
}

#forwardButton {
    -fx-background-image: url('ffbutton.png');
}

#filesButton {
    -fx-background-image: url('filebutton.png');
}

#volumeButton {
    -fx-background-image: url('volumemaxbutton.png');
}

#infoButton {
    -fx-background-image: url('infobutton.png');
}

#timeLabel {
    -fx-font-weight: bold;
}

#speedButton {

}

#volumeLabel {
    -fx-font-size: 15;
    -fx-font-weight: Bold;
}